@charset "UTF-8";

/*Body*/

header, body {
	background-color: #1A7FBD;
	font-family: 'Noto Sans', sans-serif;

}

/*---------------------------------------------------------------------------------*/

/*header*/
header nav {
	text-align: center;
	padding-top: 30px;
	vertical-align: middle;

}

header img {
	padding-right: 50px;
}

header a {
	padding-left:35px;
	padding-right:35px ;
	text-decoration: none;	
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.03em;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;

}

header button {
	background-color: black;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left:50px ;
	border: 0px;
	border-radius: 6px;
	text-decoration: none;	
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.03em;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;
}

nav hr {
	margin-top: 30px;
  	background: linear-gradient(to right, #1A7FBD, white, #1A7fbd);
  	height: 1px;
  	border: 0px;
}

div#banner{
    height: 700px;
    display: flex;
    width: 100%;
    margin: 3% 5% 0% 5%;
}

div#bn-img img{
    width: 120%;
    margin: 0px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    z-index: -1;

}

div#bn-form{
    width: 405px;
    height: 729px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #1a7fbd;
    background: #FFF;
    margin: 0 8%;

    /* background-color: white;
    width: 400px;
    margin: 54px 0px 0px 948px;
    text-align: left;
    z-index: 1;
    position: absolute;
    padding: 19px 30px 70px 30px;
    border-radius: 10px; */
}
/*---------------------------------------------------------------------------------*/

div#bn-form-inputs{
    width: 356px;
    height: 173px;
    flex-shrink: 0; 
    padding: 0 5% 5% 5%;
}

/*Formulário*/

h2#form-title{
	color: #CECECE;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 5% 0 5%;
	
}

p#form-descricao{
	color: #1A7FBD;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;

}

p#form-textocampos{
	font-family: 'Noto Sans', sans-serif;
	color: #1A7FBD;
	font-size: 11px;
	text-align: center;
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 500;
    text-decoration: inherit;
    font-size: 11px;
    padding: 10px;
    width: 95%;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-bottom: -3px;
    background-color: #FBFBFB;
    stroke: #cecece;
    border-color: #cecece;
    border-width: thin;
    color: #A0A0A0;
    line-height: normal;
}

#form-interna{
	width: 405px;
    height: 170px;
    flex-shrink: 0;
    background: #1A7FBD;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 3% 1% 3% 4%;


}

#form-interna2{
    padding: 8% 0% 2% 5%;
    color: #A0A0A0;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#form-interna2 legend{
	color:#1A7FBD;
	font-weight: bold;

}

p#form-disclaimer{
	color: #9A9A9A;
	font-size: 12px;
    text-align: center;
}

input[type='button']{
	background-color: #1A7FBD;
    color: white;
    width: 90%;
    height: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin: 0px 25px;

}

input.checkbox {
	padding-left: 10px ;
}

input[type='checkbox'] {
    position: relative;
    cursor: pointer;
    margin: 10px;
  
 }
 input[type='checkbox']:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      background-color: inherit;
      outline: 1px rgba(255, 255, 255, 0.2) solid;
      transform: translate(-50%, -50%);
 }
 input[type='checkbox']:checked:before {     
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      background-color: inherit;
      outline: 1px rgba(255, 255, 255, 0.2) solid;
      transform: translate(-50%, -50%);
      box-shadow: 0px 0px 4px 1px #fff;
 }
 input[type='checkbox']:checked:after {
      content: '';
      display: block;
      width: 6px;
      height: 10px;
      border: solid;
      border-width: 0 2px 2px 0;
      border-color: inherit;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
 }

div#sessao-projeto{
	margin-top: 200px;
	height: 600px;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

 div#proj-img img{
	width: 80%;
	margin: 0px 0px 0px 0px;
	position: absolute;
	z-index: -1;
}

div#proj-text{
    width: 400px;
    margin: 54px 0px 0px 848px;
    text-align: left;
    z-index: 1;
    position: absolute;
    padding: 19px 30px 70px 30px;
    color: white;
}

h1#proj-title {
	color: #A4DCFF;
}

hr#hr-form{
    width: 356px;
    height: 1px;
    background: #CECECE;
    border: 1px;

}

/*---------------------------------------------------------------------------------*/

/*Sessao Problema*/

div#sessao-problema{
	padding-top: 26px;
    background-color: white;
    height: 500px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

div#probl-img img{
	width: 30%;
    margin: 0px 0px 0px 250px;
    position: absolute;
}

div#probl-text{
 	width: 400px;
    margin: 54px 0px 0px 848px;
    text-align: left;
    z-index: 1;
    position: absolute;
    padding: 19px 30px 70px 30px;
}

div#sessao-problema-box{
	background-color: white;
    height: 500px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

div#problema-box{
    background-color: white;
    border: 1px;
    border-color: black;
    width: 327px;
    height: 228px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 2px 2px 50px #88888859;

}



h1#pobl-titulo{
	background: -webkit-linear-gradient(#1A7FBD, #A4DCFF);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

div#sessao-jornada{
    background-color: white;
    height: 500px;
    color: #1A7FBD;
    margin-top: -5px;
    

}

div#sessao-jornada{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

div#sessao-jornada h1 img{
    display: flex;
    justify-content: center;
}